* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* font-family: 'Quicksand', sans-serif; */

/* login */
.login {
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    background-color: whitesmoke;
}

.login .wrapper-login {
    width: 400px;
    min-height: 380px;
    border: 1px solid gainsboro;
    position: relative;
    margin: auto;
    padding: 36px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.472);
    /* background-color: whitesmoke; */
    background-color: white;
}

.login .wrapper-login .login-header .title-login {
    text-align: left;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    /* border-left: 4px solid rgb(7, 231, 100); */
    /* padding-left: 8px; */
    position: relative;
    /* border: 1px solid black; */
}

.login .wrapper-login .login-header .title-login::after {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    margin-top: 4px;
    bottom: -10px;
    border: 2px solid rgb(20, 251, 20);
}

.login .wrapper-login .login-body {
    margin-top: 40px;
}

.login .wrapper-login .login-body input {
    width: 100%;
    height: 100%;
    border: 0;
    background: transparent;
    padding: 4px 12px;
    color: green;
    outline: none;
}

.login .wrapper-login .login-body .text-input {
    width: 100%;
    height: 35px;
    background-color: rgba(103, 243, 168, 0.041);
    border-bottom: 1px solid rgb(121, 124, 121);
    margin-bottom: 40px;
    box-shadow: 2px 2px 2px gainsboro;
}

.login .wrapper-login .login-body .knob {
    margin-top: 10px;
}

.login .wrapper-login .login-body .knob button {
    padding: 10px 14px;
    border: 0;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.login .wrapper-login .login-footer {
    /* border: 1px solid black; */
    position: absolute;
    bottom: 0;
    width: 70%;
    text-align: right;
}

.login .wrapper-login .login-footer .nav {
    padding: 8px;
    display: inline-block;
}

.login .wrapper-login .login-footer .nav a {
    text-decoration: none;
    color: rgb(25, 114, 66);
    font-size: 12px;
    letter-spacing: 1px;
    /* text-transform: capitalize; */
}

/* registrasi */
.registrasi {
    /* border: 1px solid black; */
    /* min-height: 200px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 100vh; */
    background-color: whitesmoke;
    padding: 20px;
}

.registrasi .wrapper {
    width: 400px;
    /* min-height: 380px; */
    padding: 36px;
    /* margin: 20px; */
    border: 1px solid gainsboro;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.747);
    position: relative;
}

.registrasi .wrapper .wrapper-header .title-page {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 31px;
    display: block;

}

.registrasi .wrapper .wrapper-body .text-input {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid rgba(90, 97, 93, 0.671);
    background-color: rgba(220, 220, 220, 0.253);
    margin-bottom: 19px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.226);
}

.registrasi .wrapper .wrapper-body .text-input input {
    width: 100%;
    height: 100%;
    padding: 0 24px;
    border: 0;
    outline: none;
    background: transparent;
    letter-spacing: 1px;
}



.registrasi .wrapper .wrapper-body .knob {
    text-align: right;
    margin-top: 22px;
}


.registrasi .wrapper .wrapper-body .upload-input {
    /* border: 1px solid black; */
    margin-bottom: 40px;
}

.registrasi .wrapper .wrapper-body .upload-input .poster {
    width: 100px;
    height: 130px;
    border: 1px dashed gainsboro;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.548);
}

.registrasi .wrapper .wrapper-body .upload-input .poster .mark {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.registrasi .wrapper .wrapper-body .upload-input .poster .mark p {
    display: inline-block;
    font-size: 95px;
    color: gainsboro;
}

.registrasi .wrapper .wrapper-body .upload-input .main-input {
    display: none;
}

.registrasi .wrapper .wrapper-body .upload-input .main-knob {
    cursor: pointer;
    padding: 4px;
    color: rgb(80, 78, 78);
    /* background-color: black; */
    /* columns: ; */
}

.registrasi .wrapper .wrapper-body .upload-input .input-name {
    margin: 8px;
    color: gray;
    display: inline-block;
}

.registrasi .wrapper .wrapper-body .upload-input .poster img {
    width: 100%;
    height: 100%;
    display: none;
}

.registrasi .wrapper .wrapper-body .knob button {
    padding: 10px 14px;
    border: 0;
    background: black;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
}

.registrasi .wrapper .wrapper-footer .nav {
    display: block;
    text-align: right;
    margin-top: 40px;
}

.registrasi .wrapper .wrapper-footer .nav a {
    font-size: 12px;
    text-decoration: none;
    color: black;
    color: steelblue;
    letter-spacing: 1px;
    /* text-transform: capitalize; */
}

@media screen and (max-width: 1280px) {

    .login {
        display: block;
        padding: 20px;
    }  
    
    .login .wrapper-login {
        width: 100%;
    }

    .registrasi .wrapper {
        width: 100%;
    }
}