@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* font-family: 'Quicksand', sans-serif; */

@import url('navbar/navbar.css');
@import url('wrapping/wrapping.css');
@import url('home.css/home.css');
@import url('posting/posting.css');
@import url('posting/posting_plus.css');
@import url('posting/posting_change.css');
@import url('database/database.css');
@import url('public_table.css');
@import url('comment/comment.css');
@import url('user/user.css');

* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {text-decoration: none;color: black;display: inline-block;}

ul li {list-style-type: none;}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: whitesmoke;
}