.navbar {
    /* width: 200px; */
    /* border: 1px solid black; */
    /* min-height: 100vh; */
    /* height: 100vh; */
    /* background-color: rgba(227, 235, 241, 0.493); */
    background-color: rgb(13, 111, 240);
    /* padding: 16px; */
    position: absolute;

    /* position: fixed; */
    /* overflow-y: scroll; */
    display: block;
    border: 1px solid rgba(107, 163, 209, 0.089);
    /* overflow: scroll; */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.376);
    z-index: 50;
}


.navbar .navbar-header {
    padding: 17px;
    /* background-color: rgba(12, 67, 104, 0.959); */
    /* border: 1px solid rgba(251, 251, 251, 0.815); */
}

.navbar .navbar-header .title-navbar {
    font-size: 27px;
    color: white;
    text-transform: capitalize;
   font-weight: bold;
   letter-spacing: 1px;
   
}

.navbar .navbar-header .title-navbar a {
    color: rgb(234, 238, 241);
    /* font-family: 'Quicksand', sans-serif; */
}

.navbar .domain {
    text-align: center;
    border-bottom: 1px solid rgba(235, 237, 240, 0.356);
}

.navbar .domain .domain-name {
    font-size: 25px;
    /* text-transform: capitalize; */
    display: block;
    margin: 16px 0;
    color: blue;
}

.navbar .domain .domain-name a {
    color: rgb(216, 216, 236);
    padding: 4px;
    /* border: 1px solid black; */
}

.navbar .navbar-body {
    /* padding: 14px; */
    margin-top: 50px;
}

.navbar .navbar-body .navbar-menu ul li {
    padding: 14px;
    /* border: 1px solid steelblue; */
    text-transform: capitalize;
    font-size: 15px;
    border-bottom: 1px solid rgba(251, 251, 251, 0.76);
    font-weight: lighter;
}

.navbar .navbar-body .navbar-menu .title-menu {
    /* text-align: center; */
    font-size: 22px;
    display: block;
    text-transform: capitalize;
    padding-left: 24px;
    margin-bottom: 8px;
    color: rgba(228, 222, 222, 0.966);
}

.navbar .navbar-body .navbar-menu ul li:hover {
    background-color: rgba(220, 220, 220, 0.822);
}

/* .navbar .navbar-body .navbar-menu ul li:nth-child(1) {
    background-color: gainsboro;
} */

.navbar .navbar-body .navbar-menu ul li a {
    color: rgb(250, 252, 253);
}

/* navbar knob */
.navbar_knob {
    display: inline-block;
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 20px;
    /* border: 1px solid rgb(19, 18, 18); */
    color: rgb(138, 132, 132);
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    display: none;
    z-index: 51;
}

.navbar_knob:hover {color: black;}

/* navbar footer */
.navbar .navbar_footer {
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0.918);
    margin: 8px;
    border-radius: 4px;
    position: relative;
}

.navbar .navbar_footer .out {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
}

.navbar .navbar_footer .out a {
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(66, 110, 139);
    margin: 8px;
    font-weight: bold;
    letter-spacing: 1px;
}

@media only screen and (max-width: 1280px) {
    
    .navbar_knob {
        display: inline-block;
    }

    

    .navbar {
        transform: translateX(-100%);
        transition: 0.8s all;
        background-color: rgb(246, 193, 16);
        background-color: rgb(13, 111, 240);
        overflow-y: scroll;
        position: fixed;
        z-index: 10;
        height: 100vh;
    }

    .knob_show {
        transform: translateX(0);
    }
}