/* * {border: 1px solid red;} */

.posting {
    /* border: 1px solid black; */
    min-height: 80vh;
    position: relative;
}

.posting .search-engine {
    /* border: 1px solid red; */
    background-color: white;
    border: 2px solid rgba(220, 220, 220, 0.185);
    margin-bottom: 10px;
    /* width: 200px; */
    width: 80%;
    height: 35px;
    display: block;
    position: relative;
    /* border-bottom: 2px solid steelblue; */
    box-shadow: 2px 2px 2px rgba(90, 87, 87, 0.287);
}

.posting .search-engine input {
    width: 80%;
    height: 100%;
    border: 0;
    background: none;
    outline: none;
    padding: 8px 20px;
    font-weight: lighter;
    color: slategray;
    letter-spacing: 1px;
    display: inline-block;
    /* border: 1px solid red; */
}

.posting .search-engine .knob {
    position: absolute;
    /* top: 0; */
    right: 0;
    display: inline-block;
    font-size: 13px;
    /* padding: 6px 12px; */
    padding: 8px 14px;
    background: transparent;
    border: none;
    /* border-left: 1px solid gainsboro; */
    text-align: center;
    /* border: 1px solid blue; */
    /* width: auto; */
    color: rgb(144, 142, 142);
    cursor: pointer;
}

.posting .locker {
    background-color: white;
    padding: 14px;
    position: relative;
}

.posting .locker table {
    /* border: 1px solid black; */
    border-collapse: collapse;
    font-size: 15px;
    /* min-width: 500px; */
    background-color: rgba(245, 245, 245, 0.329);
}

.posting .locker table thead {
    /* background-color: ; */
    border-bottom: 2px solid gainsboro;
    background-color: rgba(0, 0, 0, 0.562);
}

.posting .locker table tr th {
    /* border: 1px solid black; */
    padding: 6px 8px;
    color: white;
    /* text-transform: capitalize; */
    font-weight: lighter;
}

.posting .locker table tr th.title {
    text-align: left;
}

.posting .locker table tr:nth-child(2n) {
    background-color: rgba(195, 186, 186, 0.212);
}

.posting .locker table tr td {
    /* border: 1px solid  black; */
    padding: 6px 8px;
}

.posting .locker table tr td.picture .poster {width: 70px;height: 40px;}
.posting .locker table tr td.picture .poster img {width: 100%;height: 100%;}

.posting .locker table tr td.condition {
    text-align: center;
}

.posting .locker table tr td.condition .on {
    color: rgb(255, 255, 255);
    display: inline-block;
    background-color: rgb(36, 241, 18);
    padding: 4px 12px;
    
}

.posting .locker table tr td.condition .off {
    color: rgb(255, 255, 255);
    display: inline-block;
    background-color: rgb(241, 37, 18);
    padding: 4px 12px;
    
}

.posting .locker table tr td.date {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
}

.posting .locker table tr td.action {
    text-align: center;
}

.posting .locker table tr td.action a:nth-child(1){
    color: rgb(30, 206, 30);
}

.posting .locker table tr td.action a:nth-child(2) {
    color: rgb(236, 70, 4);
}

.posting .locker table tr td:nth-child(1) {text-align: center;}

.posting .locker table tr td a {
    margin: 2px 6px;
}

/* nposting */
.posting .nposting {
    position: fixed;
    right: 100px;
    bottom: 100px;
}

.posting .nposting span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid white;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.52);
    transition: 0.7s;
}

.posting .nposting span:hover {
    background-color: rgb(230, 221, 221);
    color: white;
}

.posting .nposting span a {
    font-size: 27px;
    /* color: white; */
    /* padding: 10px; */
    /* border-radius: 4px;
    border: 1px solid gainsboro;
    background: rgba(248, 242, 242, 0.986); */
}

/* .posting .nposting span a:hover {
    color: white;
    transition: 0.4s all;
} */

@media screen and (max-width: 1280px) {



    .posting {
        margin-top: 40px;
        width: 100%;
        /* background: white; */
    }

    .posting .search-engine {
        margin: 10px;
    }

    .posting .locker {
        padding: 10px;
        width: 100%;
    }

    .posting .locker table {
        /* width: auto; */
        /* width: 90%; */
        /* width: 100px; */
        width: 100%;
        /* border: 1px solid black; */
        /* display: flex; */
        margin-right: 20px;
    }

    .posting .locker table tr th.numb ,  .posting .locker table tr td.numb {
        width: 30px;
    }

    
/* 
    .posting .locker table tr td.picture {
        display: none;
    }

    .posting .locker table tr th.picture {
        display: none;
    } */

    .posting .locker table tr th.title , .posting .locker table tr td.title {
        /* border: 1px solid red; */
        width: 250px;
    }

    .posting .locker table tr th.subtitle , .posting .locker table tr td.subtitle {
        display: none;
    }

    .posting .locker table tr th.condition , .posting .locker table tr td.condition {
        display: none;
    }

    .posting .locker table tr th.date , .posting .locker table tr td.date {
        display: none;
    }

    /* .posting .locker table tr td.action , .posting .locker table tr th.action {
        border: 1px solid blue;
        padding: 4px 4px;
        width: 50px;
        padding: 0;
        display: none;
    } */

    .posting .locker table tr th.address , .posting .locker table tr td.address {display: none;}

    .posting .nposting {
        bottom: 40px;
        right: 40px;
    }
}